/* Profile div being selected */
html {
  padding: 0;
  margin: 0;
}


/**.profile {
 background-color: white;
 position: relative;
 /* display: inline-block; *
 /* margin-left: 20px; *
 float: left;
 width: 500px;

}*/

/* Profile heading being selected AKA USER PROFILE */
.profile h2 {
 margin-bottom: 20px;
 height: 50px;
 text-align: center;
}

/* Image of the users profile being selected for now it affects every img */
.profile img {
  border-radius: 50%;
  width: 40%;
  height: 40%;
  object-fit: contain;
}

/* The div information is being selected and affecting all the required info of the user*/
.info p {
 font-size: 20px;
 margin: 20px;
}
